.RadioButton {
  label {
    padding: 0.5rem;

    &:hover {
      background-color: orange;
    }
  }

  input {
    display: none;
  }

  input:checked + label {
    background-color: black;
    color: white;

    transition: all 0.5s ease;
  }
}
